{% load staticfiles %}
{% load template_tags %}
{% load humanize %}

<table border="0" class="ncrtable">
  <thead>
    <tr>
      <th>&nbsp;</th>
      {% for period in data.issuer.financial_statement.data %}
        <th align="right" style="text-align: right;">
          {{ period.generic_information.currency }} m
        </th>
      {% endfor %}
      <th align="right">
        &nbsp;
      </th>
    </tr>
  </thead>

  <thead>
    <tr>
      <th>Income statement</th>
      {% for period in data.issuer.financial_statement.data %}
        <th align="right" style="text-align: right;">
          {{ period.generic_information.report_date|date:'Y-m-d' }}
        </th>
      {% endfor %}
      <th align="right">
        &nbsp;
      </th>
    </tr>
  </thead>

  {% for row in data.issuer.financial_statement.income_statement_items %}
    {% include "issuer/financials/statement_row.html" with header=row.header item_name=row.item_name edit=row.edit tr_class=row.tr_class format_as=row.format_as is_blank=row.is_blank statement_type_name=row.statement_type format_precision=row.format_precision %}
  {% endfor %}

  <thead>
    <tr>
      <th>Balance sheet</th>
      {% for period in data.issuer.financial_statement.data %}
        <th align="right" style="text-align: right;">
          {{ period.generic_information.report_date|date:'Y-m-d' }}
        </th>
      {% endfor %}
      <th align="right">
        &nbsp;
      </th>
    </tr>
  </thead>

  {% for row in data.issuer.financial_statement.balance_sheet_items %}
    {% include "issuer/financials/statement_row.html" with header=row.header item_name=row.item_name edit=row.edit tr_class=row.tr_class format_as=row.format_as is_blank=row.is_blank statement_type_name=row.statement_type format_precision=row.format_precision %}
  {% endfor %}

  <thead>
    <tr>
      <th>Cash flow</th>
      {% for period in data.issuer.financial_statement.data %}
        <th align="right" style="text-align: right;">
          {{ period.generic_information.report_date|date:'Y-m-d' }}
        </th>
      {% endfor %}
      <th align="right">
        &nbsp;
      </th>
    </tr>
  </thead>

  {% for row in data.issuer.financial_statement.cash_flow_items %}
    {% include "issuer/financials/statement_row.html" with header=row.header item_name=row.item_name edit=row.edit tr_class=row.tr_class format_as=row.format_as is_blank=row.is_blank statement_type_name=row.statement_type format_precision=row.format_precision %}
  {% endfor %}



</table>

<br><br><br>
