{% load template_tags %}


<div class="row">
    <div class="col-md-4 col-xs-6">
      <!-- Column 1 -->


      <div class="card-body">
        <h5 class="card-title">
          Questions:
        </h5>
        <p class="card-text">
          <table border="0" cellpadding="0" cellspacing="0" class="card-body">

            {% for question in data.issuer.rating_job.control_questions.chair_final_approval %}

              <tr>
                <td valign="top">
                  {{ forloop.counter }}
                </td>
                <td width="10">&nbsp;</td>
                <td valign="top">
                  {{ question.question.question }}
                </td>
                <td width="10">&nbsp;</td>
                <td valign="top">
                  {% if question.answer_correct %}
                    Yes
                  {% elif allow_edit and auth.issuer.rating_job.edit %}
                    <a href="{% url 'answer_question' control_question_pk=question.id step=8 %}">
                      <i class="fas fa-check"></i>
                    </a>
                  {% else %}
                    <i class="fas fa-times"></i>
                  {% endif %}
                </td>
              </tr>

            {% endfor %}
          </table>

        </p>
      </div>

    </div>

    <div class="col-md-4 col-xs-6">
      <!-- Column 2 -->

    {% if data.issuer.rating_job.preview.external_pdf and data.issuer.rating_job.rating_decision.get_process_step_display == 'chair_final_approval_phase' %}

      {% rating_process_document_id data.issuer.rating_job.rating_decision.id 15 as document_id %}

      <div class="card-body">
        <h5 class="card-title">
          External report preview
       </h5>
        <p class="card-text">
          This is a preview of the document that will stored as the final rating report. Click the image if you want to see the whole report.

          <p>

          <a href="{% url 'issuer_document_analytical_download' file_id=document_id %}" target="_blank">
           <img src="data:image/png;base64,{% static_file2base64 data.issuer.rating_job.preview.external_pdf True %}" alt="External report preview" width="357" height="505" style="padding:1px; border:1px solid #021a40;" />
          </a>
        </p>

      </div>

    {% endif %}

    </div>

</div>
