{% load template_tags %}


<div class="row">
    <div class="col-md-4 col-xs-6">
      <!-- Column 1 -->

      <div class="card-body">
        <h5 class="card-title">
          Job number:
        </h5>
        <p class="card-text">
          {% format_reference_number 'r' data.issuer.rating_job.rating_decision.id  %}
        </p>
      </div>

      <div class="card-body">
        <h5 class="card-title">
          Event type:
        </h5>
        <p class="card-text">
          {{ data.issuer.rating_job.rating_decision.event_type }}
        </p>
      </div>

      <div class="card-body">
        <h5 class="card-title">
          Rating type:
        </h5>
        <p class="card-text">
          {{ data.issuer.rating_job.rating_decision.rating_type }}
        </p>
      </div>

      <div class="card-body">
        <h5 class="card-title">
          Committee date and time:
        </h5>
        <p class="card-text">
          {{ data.issuer.rating_job.rating_decision.date_time_committee|date:'Y-m-d H:i'|default:'<em>No date suggested.</em>' }}
        </p>

        {% if auth.issuer.rating_job.edit and data.issuer.rating_job.rating_decision.get_process_step_display == 'setup' %}

          <a href="{% url 'rating_decision_update_field' rating_decision_pk=data.issuer.rating_job.rating_decision.id field='date_time_committee' %}"
           class="fm-update"
           data-fm-head="Edit committee date"
           data-fm-callback="reload"
           data-fm-target="#object-{{ data.issuer.rating_job.rating_decision.id }}">
            Update date

            <i class="fas fa-edit"></i>
          </a>

        {% endif %}


      </div>


    </div>

    <div class="col-md-4 col-xs-6">
      <!-- Column 2 -->

      <div class="card-body">
        <h5 class="card-title">
          Chair:
        </h5>
        <p class="card-text">
          {{ data.issuer.rating_job.rating_decision.chair.get_full_name|default:'<em>No chair suggested.</em>' }}

          {% if data.issuer.rating_job.rating_decision.chair_confirmed %}
            <i class="fas fa-check"></i>
          {% else %}
            <i class="fas fa-times"></i>
          {% endif %}

        </p>

        {% if auth.issuer.rating_job.edit and data.issuer.rating_job.rating_decision.get_process_step_display == 'setup' %}

          <a href="{% url 'rating_decision_update_field' rating_decision_pk=data.issuer.rating_job.rating_decision.id field='chair' %}"
            class="fm-update"
            data-fm-head="Edit chair"
            data-fm-callback="reload"
            data-fm-target="#object-{{ data.issuer.rating_job.rating_decision.id }}">

            Edit chair
            <i class="fas fa-edit"></i>
          </a>

        {% endif %}

      </div>

      <div class="card-body">
        <h5 class="card-title">
          Committee members:
        </h5>
        <p class="card-text">

          <table border="0" cellpadding="3" cellspacing="0" class="card-body">
            {% for row in data.issuer.rating_job.committee_members %}
                <tr style="padding: 0px;">
                  <td valign="top">
                    {{ row.member.get_full_name }}

                  </td>
                  <td>

                    {% if row.committee_member_confirmed %}
                      <i class="fas fa-check"></i>
                    {% else %}
                      <i class="fas fa-times"></i>
                    {% endif %}

                  </td>

                  <td align="left" valign="top">
                    {{ row.role }}
                  </td>
                  <td>

                    {% if not row.committee_member_confirmed %}
                      <a href="{% url 'rating_committee_member_delete' committee_member_id=row.id %}"
                       class="fm-delete"
                       data-fm-head="Revoke committee member"
                       data-fm-callback="reload"
                       data-fm-target="#object-{{ row.id }}">
                        Recall suggestion

                        <i class="fas fa-undo"></i>
                      </a>
                    {% endif %}

                </tr>
            {% empty %}
              <em>None proposed.</em>
            {% endfor %}
          </table>

        </p>

        {% if auth.issuer.rating_job.edit and data.issuer.rating_job.rating_decision.get_process_step_display == 'setup' %}
          <a href="{% url 'rating_committee_member_add' rating_decision_pk=data.issuer.rating_job.rating_decision.id %}"
           class="fm-create card-link"
           data-fm-head="Propose committee member"
           data-fm-callback="reload">
            Propose member

            <i class="fas fa-plus"></i>
          </a>
        {% endif %}


      </div>

    </div>


    <div class="col-md-4 col-xs-6">
      <!-- Column 3 -->

      <div class="card-body">
        <h5 class="card-title">
          Methodologies used
        </h5>

        <p class="card-text">

          <table border="0" cellpadding="0" cellspacing="0" class="card-body">
            <tr>
              <td>
                Methodology
              </td>
              <td width="10">&nbsp;</td>
              <td>
                Published
              </td>
              <td width="10">&nbsp;</td>
              <td>&nbsp;</td>
            </tr>

            <tbody>
              {% for object in data.issuer.rating_job.methodologies %}
                <tr>
                  <td>
                    {{ object.methodology.category }}
                  </td>
                  <td>&nbsp;</td>
                  <td>
                    {{ object.methodology.date_decision|date:'Y-m-d' }}
                  </td>
                  <td>&nbsp;</td>
                  <td>
                    <a href="{% url 'methodologies_download' file_id=object.methodology.id %}" target="_blank">Download</a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="5">
                    Error: this decision is not linked to a methodology. Contact the system administrator.
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </p>

      </div>

    </div>

</div>
